<!DOCTYPE html>
<html>
<head>
  <title>Mailboxer Demo by James Tansley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Mailboxer Demo', root_path, class: 'navbar-brand' %>

        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'View Users', users_path %></li>
            <li><%= link_to 'Inbox', conversations_path %></li>
            <li><%= link_to 'Edit account', edit_user_registration_path(current_user), :method=>'get' %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
            <% else %>
            <li><%= link_to 'Sign in with existing account', new_user_session_path %></li>
            <li><%= link_to 'Create new account', new_user_registration_path %></li>
          <% end %>
        </ul>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<%= yield %>

</body>
</html>
